@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Bold-webfont.eot');
  src: url('../fonts/Raund-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raund-Bold-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-Bold-webfont.woff') format('woff'),
	   url('../fonts/Raund-Bold-webfont.ttf') format('truetype'), url('../fonts/Raund-Bold-webfont.svg#raundbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-Italic-webfont.eot');
  src: url('../fonts/Raund-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raund-Italic-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-Italic-webfont.woff') format('woff'),
	   url('../fonts/Raund-Italic-webfont.ttf') format('truetype'), url('../fonts/Raund-Italic-webfont.svg#raunditalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Raund';
  src: url('../fonts/Raund-webfont.eot');
  src: url('../fonts/Raund-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Raund-webfont.woff2') format('woff2'),
	   url('../fonts/Raund-webfont.woff') format('woff'),
	   url('../fonts/Raund-webfont.ttf') format('truetype'),
	   url('../fonts/Raund-webfont.svg#raundregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font-family:  Arial, Helvetica, sans-serif;
	background-color: black;
	padding-top: 30px !important;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 }
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
	from{ bottom:-100px; opacity:0 }
	to{ bottom:0; opacity:1 }
}

#fullpage {
	display: none;
	text-align: center;
}

.section {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	color: #fff;
    background-image: url('/image/img-touch/bg.jpg');
    background-repeat: no-repeat;
}

.section-one{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.section h2 {
	margin: 0 0 20px 0;
	font-size: 40px;
}

.section p {
	font-size: 14px;
}

.section p:last-chilf {
	margin: 0;
}

.slide {
	color: white;
}

.slide:nth-child(1) {
    background-image: url('/image/img-touch/bg.jpg');
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background-image: url('/image/img-touch/bg.jpg');
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    background-image: url('/image/img-touch/bg.jpg');
    background-repeat: no-repeat;
}

.slide:nth-child(4) {
    background-image: url('/image/img-touch/bg.jpg');
    background-repeat: no-repeat;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #ffffff;
}

.fp-controlArrow.fp-prev {
	border-color: transparent #ffffff transparent transparent;
}

.header {
	position: fixed;
	top: 0;
	z-index: 1000;
	background: #000000;
	box-shadow: rgba(0, 0, 0, 1) 0 0 7px;
	margin:auto !important;
	text-align:center;
}
.main-nav {
	margin:auto;
	text-align:center;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.main-nav ul {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
}
.main-nav li {
	display: inline-block;
	margin-right: 0px;
	padding: 0 10px;
}
.main-nav a {
	display: block;
	font-size: 14px;
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}
.main-nav .active a {
	color: white;
}

#mapje{
	width:100%;
	height:400px;
}


label{
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	color: white;
}

.tekst_intenties{
	width: 40%;
	margin:auto;
}

.tekst_usp{
	width: 40%;
	margin:auto;
}

.tekst_branches{
	width: 40%;
	margin:auto;
}

.tekst_waarom{
	width: 60%;
	margin:auto;
}

iframe{
	display:block;
	height: 400px;
	border:none;
	width: 250px;
	text-align:center;
	scrolling:no;
}
input, select, textarea{
	color: black;
    padding-left: 5px;
    padding-top: 5px;
}
#subject{
	height:130px;
}
textarea:focus, input:focus {
	color: black;
    padding-left: 5px;
    padding-top: 5px;
}
input[type=text]{
	color: black;
    padding-left: 5px;
    padding-top: 5px;
	width:50%;

	-webkit-text-fill-color:black
}
input, select, textarea{
    color: black;
	width:50%;
	border-radius: 4px;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: black;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	border-color: white;
}
.verstopt{
	transition: background-image 1s ease;
	background-image: url('/image/img-touch/kleuren/geen_kleur2.png');
	position:relative;
	width: 210px;
	height: 360px;
	margin:auto;
	text-align:center;
	background-repeat: no-repeat;
}
.n-verstopt {
	background-image: url('/image/img-touch/kleuren/geen_kleur2_m.png');
}
.pijltje_next{
	margin: auto !important;
	position: absolute;
	bottom: 60px !important;
	overflow: hidden;
	width: 20px;
	height: 11px;
}
#fullpage{
	background-color: black;
}
#zuil{
	height: 400px;
}

#kleuren{
	width: 50%;
	margin:auto;
}

#intro{
	background-image: url('/image/img-touch/bg_light2.png');
	overflow: hidden;
	background-size: 100%;
	margin: auto;
	text-align: center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	padding: 15px;

	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 5s; /* Firefox < 16 */
	-ms-animation: fadein 5s; /* Internet Explorer */
	-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}





/*#pijl-hoogte{*/
	/*position:absolute;*/
	/*top: 0px;*/
	/*left: 130px;*/
	/*overflow:hidden;*/
/*}*/

/*#pijl-breedte{*/
	/*position:absolute;*/
	/*top: 430px;*/
	/*left: 180px;*/
	/*overflow:hidden;*/
/*}*/

/*#pijl-diepte{*/
	/*position:absolute;*/
	/*top: 400px;*/
	/*left: 300px;*/
	/*overflow:hidden;*/
/*}*/

/*.button{*/
	/*background-color: black;*/
/*}*/




@media (max-width:768px) {
	.section h2 {
		font-size: 60px;
	}
	.section p {
		font-size: 14px;
	}
	.pijltje_next{
		margin: auto;
		position: absolute;
		bottom: 60px !important;
		overflow: hidden;
		width: 20px;
		height: 11px;
	}
    #intro{
        max-height: 100%;
        max-width: 100%;
    }
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	#zuil{
		height:350px;
	}
	#intro img{
		height:100%;
		width:100%;
	}
	input, select, textarea{
		color: black;
		padding-left: 5px;
		padding-top: 5px;
		width: 100%;
	}
	#subject{
		height:130px;
		width:100%;
	}
	textarea:focus, input:focus {
		color: black;
		padding-left: 5px;
		padding-top: 5px;
		width:100%;
	}
	input[type=text]{
		color: black;
		padding-left: 5px;
		padding-top: 5px;
		width:100%;

		-webkit-text-fill-color:black
	}
	input, select, textarea{
		color: black;
		border-radius: 4px;
		width:100%;
	}
	input[type=button], input[type=submit], input[type=reset] {
		background-color: black;
		color: white;
		text-decoration: none;
		cursor: pointer;
		border-radius: 4px;
		border-color: white;
		width:100%;
	}

	.tekst_intenties{
		width: 90%;
		margin:auto;
	}

	.tekst_usp{
		width: 90%;
		margin:auto;
	}

	.tekst_branches{
		width: 90%;
		margin:auto;
	}

	.tekst_waarom{
		width: 90%;
		margin:auto;
	}
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	#zuil {
		height: 500px;
	}
	#title {
		max-width: 320px;
	}
	#intro {
		max-height: 100%;
		max-width: 100%;
	}
	img {
		max-height: 100%;
		max-width: 100%;
	}
	.section {
		padding-left: 30px;
		padding-right: 30px;
	}
	.section p {
		font-size: 16px;
	}
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	.tekst_intenties{
		width: 40%;
		margin:auto;
	}

	.tekst_usp{
		width: 40%;
		margin:auto;
	}

	.tekst_branches{
		width: 40%;
		margin:auto;
	}
	.tekst_waarom{
		width: 60%;
		margin:auto;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	#zuil {
		height: 500px;
		width:300px;
		margin:auto;
	}
	#title {
		max-width: 320px;
	}
	.section p {
		font-size: 16px;
	}
	#intro {
		max-height: 100%;
		max-width: 100%;
		padding-top: 50px;
	}
	#intro img {
		height: 100%;
		width: 100%;
	}
	.section {
		padding-left: 30px;
		padding-right: 30px;
	}
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}.tekst_intenties{
		 width: 40%;
		 margin:auto;
	 }

	.tekst_usp{
		width: 40%;
		margin:auto;
	}

	.tekst_branches{
		width: 40%;
		margin:auto;
	}
	.tekst_waarom{
		width: 60%;
		margin:auto;
	}
}

::-webkit-scrollbar {
	display: none;
}



/*#slides {*/
	/*display: none;*/
/*}*/

/*!* Center the slideshow *!*/
/*#container {*/
	/*margin: 0 auto;*/
/*}*/

/*@media (max-width: 767px) {*/
	/*#container {*/
		/*width: 350px;*/
	/*}*/
/*}*/

/* For smartphones */
/*@media (max-width: 480px) {*/
	/*.bss-slides num2 img {*/
		/*width: 220px;*/
	/*}*/
/*}*/

/*!* For smaller displays like laptops *!*/
/*@media (min-width: 768px) and (max-width: 979px) {*/
	/*#container {*/
		/*width: 350px;*/
	/*}*/
/*}*/

/*!* For larger displays *!*/
/*@media (min-width: 1200px) {*/
	/*#container {*/
		/*width: 350px;*/
	/*}*/
/*}*/



